
/* @Author: admin
* @Date:   2019-09-22 23:25:47
* @Last Modified by:   admin
* @Last Modified time: 2019-09-24 10:08:03
*/

*{
	margin:0;
	padding:0;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
/*页面顶端*/
.top{
	height:30px;
	width:100%;
	font-size:12px;
	color:#666666;
	background:#f4f4f4;
	border-bottom:1px solid #e5e5e5;
}
.top>ul{
	list-style:none;
	width: 1228px;
	margin:0 auto;
	line-height:30px;
}
.top>ul>li>a{
	text-decoration:none;
}
.top>ul li:hover{
	color:#ff4040;
}
.top>ul li>a:hover{
	color:#ff4040;
}
.top>ul .hi-d{
    display:inline-block;
    width:432px;
    height:30px;
    float:right;
}
.hi{
	color:#ff4040;
}
.top>ul li{
	display:inline-block;
	padding:0 10px;
	cursor: pointer;
}
.crg-sp{
	color: #ff4040;
}
.top a{
	color:#666666;;
}
.service{
	width:64px;
	height:100px;
	border:1px solid white;
	border-top:0px;
	position:relative;
}
.service-a{
	display:inline-block;
}
.service-p{
	position:absolute;
	left:70px;
	right:3px;
	top:0px;
	color:#cacaca;
    transition:all 0.3s;
}
#service-d{
	width:88px;
	height:63px;
	display:none;
	position:absolute;
}
.service:hover .service-p{
	transform:rotate(180deg);
}
.service:hover{
	border:1px solid #cacaca;
	border-top:0px;
	background:white;
	z-index: 9999;
}
.service:hover #service-d{
	 display:block;
}
#service-d>a:hover{
     color:#ff4040;
}
.down{
	position:relative;
}
.down-app{
	display:inline-block;
}
.icon-phone{
	display:inline-block;
	width:16px;
	height:17px;
}
#down-d>p{
	display:block;
	margin:0 auto;
}
#down-d{
	text-align:center;
	width: 110px;
	height: 160px;
	top:30px;
	right:0;
	left:-5px;
	background:white;
	border:1px solid #cacaca;
	border-top:0px;
	position:absolute;
	display:none;
}

.down:hover #down-d{
	color:#666666;
	display:block;
	z-index: 9999;
}
#down-d:hover{
	color:#666666;
	display:block;
	z-index: 9999;

}
#triangle1{
	width:3px;
	border:10px solid transparent;
	border-bottom-color:white;
	margin-top:-16px;
	margin-left:40px;
}
/* 页面顶端*/
/*页眉*/
.head{
	height:110px;
}
.head1{
	width:1228px;
	height:110px;
	margin:0 auto;
	line-height:110px;
	position:relative;
	
}
.img1{
    width: 220px;
    height: 110px; 
    position:relative;
}
.new2x{
	top:50%;
	margin-top:-28px;
    width:80px;
    height:56px;
    position:absolute;
}
.new3{
	top:50%;
	margin-top:-30px;
	height:60px;
	width:120px;
	right:0;
	position:absolute;
}
.head-right{
	width: 390px;
	height: 60px;
	top:50%;
	right: 0;
	color:#d7d7d7;
	margin-top:-30px;
	position:absolute;
}
.find-input{
	width: 141px;
	height: 38px;
	top:50%;
	margin-top:-19px;
	border:1px solid #d7d7d7;
	border-right: 0;
	padding-left: 10px;
	background:#f4f4f4;
	display:inline-block;
	position:absolute;
}
.find-span{
	width:40px;
	height:38px;
	top:50%;
	right:205px;
	margin-top:-19px;
	border:1px solid #d7d7d7;
	border-left: 0;
	display:inline-block;
	background:#f4f4f4;
	position:absolute;
}
.icon-sousuo{
	width: 24px;
	height: 26px;
	font-size:26px;
	top:-35px;
    right:13px;
    margin-left:-15px;
	position:absolute;
}
.shoppingcar{
	width: 130px;
	height: 40px;
	top:50%;
	margin-top:-20px;
	line-height:40px;
	text-align: center;
	border:1px solid #e6e6e6;
	display:inline-block;
	position:absolute;
	color:#666666;
	right:0;
	font-size: 16px;
}
/*页眉*/
.super-center{
    width: 1228px;
    height:44px;
    line-height:44px;
    margin:0 auto;
    font-size:20px;
    font-weight: bolder; 

}
.super-right{
	display:inline-block;
	font-size:14px;
	float:right;
}
.super-right>a{
	margin-left:32px;
	color:#666666;
}
.super-con{
	width:100%;
	height:44px;
	background:#ffffff;
}
.super-sfixed{
	position:relative;
	position:fixed;
	top:100px;
	background:#ffffff;
	z-index:999;
	top:0;
}
.super-center>a{
	display:inline-block;
	text-align:center;
    color:#333333;
    width: 120px;
    height: 44px;
}
#super-brand{
	background:#ff4040;
	color:#fffefe;
}
.super-right1{
	display:inline-block;
	margin-left:10px;
	position:relative;
}
.super-right1>a{
	color:#666666;
}
.super-right-p{
	display:inline-block;
    color:#666666;
    transition:all 0.3s; 
  }
.super-right1:hover .super-right-p{
    transform:rotate(180deg);
  }
.slide-div1{
	width: 428px;
  	height:150px;
	left:-361px;
  	position:absolute;
  	overflow:hidden;
}
.super-right>a:hover{
	color:#ff4040;
}
.slide-div{
  	width: 428px;
  	height: 62px;
  	background:white;
  	top:201px;
	left:0px;
  	position:absolute;
  	transition:all 0.5s; 
  	z-index:10;
  }

#triangle2{
	width:3px;
	border:10px solid transparent;
	border-bottom-color:white;
	margin-top:-16px;
	margin-left:40px;
	right:28px;
	position:absolute;
}
.super-right1:hover .super-right2{
	color:#ff4040;
}
.super-right1:hover .slide-div{
	transform:translate(0,-195px);	
}
.slide-div>p{
    display:block;
    margin-left:35px;
    margin-top:10px;
    color:#666666;
}
/*固定栏*/
/*商品*/
.inner{
	height:10965px;
	width:100%;
	background:#f9f9f9;
	background-image:url("../img/killing_bg.png");
	background-repeat:no-repeat;
	background-size:100%;
}
.inner-center{
	overflow: hidden;
	position:relative;
	width:1228px;
	height:10892px;
	margin:0 auto;
	text-align:center;
	background-image:url("../img/killing_bg2.png");
	background-repeat:no-repeat;
	padding-top: 44px;
    background-position: 0% -66px;
    background-size: 100%;
    overflow: hidden;
}
.icon-naozhong{
	display:block;
	right:514px;
	top:106px;
	font-size:36px;
	color:white;
	position:absolute;
}
.center1{
	margin-top:140px;
	margin-bottom: 40px;
}
.center1>li{
	list-style:none;
	color:#ff6803;
	display:inline-block;
	width: 378px;
	height: 50px;
	line-height:50px;
	margin:0 auto;
	border:1px solid white;
	border-radius: 5px;
	background:white;
}

.center1>li>span{
	font-size:20px;

}
.center-duct{
    width: 283px;
    height: 398px;
    list-style:none;
    border-radius:5px;
    margin:0 auto;
    margin-bottom:20px;
    margin-left:10px;
    overflow:hidden;
    background:white;
    display:inline-block;
}
.photo{
	width: 242px;
	height: 242px;
	margin-top:20px;
}
.phone-x{
	font-size:14px;
	color:#666666;
	display:block;
	margin-top:5px;
	margin-bottom:10px;
}
.phone-box{
	width: 242px;
	height: 76px;
	margin-bottom:24px;
	transition:all 0.5s;
}
.phone-box2{
    width: 242px;
	height: 76px; 
	margin-bottom:24px;
	overflow:hidden;
}
.center-duct:hover .phone-box{
    transform:translate(0,-40px);
}
.add-car{
	display:block;
	width: 284px;
	height: 40px;
	font-size:16px;
	color:white;
	border-radius:0 0 5px 5px;
	background-color: #fd5b45;
	transition:all 0.5s;
}
.li-bottom-span1{
	color:#ff4040;
	font-size:18px;
	margin-left:-107px;
	font-weight:bolder;
	margin-right:10px;
}
.phone-box>p{
    font-size:14px;
    margin-left:-145px;
    color:#8c8c8c;
    overflow:hidden;
}
.li-bottom-span2{
	font-size:14px;
    color:#666666;
    text-decoration: line-through;
}
.phone-box1{
	overflow:hidden;
	height:26px;
}
.inner-center2{
	overflow: hidden;
	position:relative;
	width:1228px;
	margin:0 auto;
	text-align:center;
	background-image:url("../img/killing_bg2.png");
	background-repeat:no-repeat;
	padding-top: 44px;
    background-position: 0% -66px;
    background-size: 100%;
    overflow: hidden;
}
.footer1>div{
	display:none;
}
#dis{
	display:block;
}
.center-duct:hover .add-car{
    transform:translate(0,-40px);
}
.inner-check{
    color:white;
    font-size:20px;
    margin-left:15px;
    display:inline-block;
}
.inner-check>span{
    display:inline-block;
}
.inner-check>p{
	display:inline-block;
}
.cernter-li2{
	color:white;
	background:#ffad64;
}
/*商品*/
.right-lan{
	position:fixed;
	right:10px;
	color: #666;
	bottom:200px;
	text-align:center;
	display:none;
}
.right-lan>p{
	font-size: 12px;
	width: 49px;
	height: 47px;
	line-height: 47px;
	background-color: #fff;
	border: 1px solid #ececec;
	margin-bottom: 3px;
	cursor:pointer;
}
.icon-huidaodingbu{
	font-size:24px;
}
/*底部*/
/*底部*/
.buttom-box{
    height:375px;
    width:100%;
}
.bottom-center{
	height: 449px;
	width: 1070px;
	margin:0 auto;
}
.footerIcon{
	text-align:center;
	height: 127px;
	line-height:127px;
	
}
.footerIcon>a{
	display:inline-block;
	width: 205px;
	height: 66px;
	position:relative;
}
.footerIcon>a>b{
	width: 205px;
	height: 21px;
	top:-46px;
	left:14px;
	font-size:16px;
	color:#333333;
	display:block;
	position:absolute;
}
.footerIcon>a>img{
	position:absolute;
	left:0;
}
.footerIcon>a>span{
	position:absolute;
	left:65px;
	top:-22px;
	font-size:16px;
	color:#999999;
}
.wrap{
	height:150px;
	width:1070px;
}
.wrap>dl{
	display:inline-block;
	width: 195px;
	height: 152px;
	color:#666666;
}
.wrap>dl>dt{
	font-size:14px;
	line-height:32px;
	font-weight:bolder;
}
.wrap>dl>dd{
	font-size:12px;
	line-height:24px;
}
.two-photo{
	display:inline-block;
	position:relative;
	font-size:14px;
	font-weight:bolder;
	color:#666666;
	text-align:center;
}
.two-photo>div>p{
	line-height:32px;
}
.tow-photo2{
	position:absolute;
	right: -140px;
	top: 0px;
}
.footer{
	height: 115px;
	font-size:12px;
	color:#333333;
	line-height:32px;
	margin-top:-160px;
	text-align:center;
}